:root
{
	/* CSS HEX */
	--light-goldenrod-yellow: #efeccaff;
	--cambridge-blue: #a9cbb7ff;
	--laser-lemon: #f7ff58ff;
	--atomic-tangerine: #ff934fff;
	--dark-liver: #5e565aff;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	scroll-behavior: smooth;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color:#fff;
}

a {
	color: rgb(50, 152, 255);
	text-decoration: none;
	cursor:pointer;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(2, 81, 160);
}

.center
{
	display:flex;
	justify-content: center;
	align-items: center;
}

h2
{
    font-size:3rem;
    margin:25px 0;
    text-align:center;
    width:100%;
}

/*Ripple effect*/
.ripple
{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}
@media (prefers-reduced-motion: reduce) {
	.ripple {
		animation: none;
	}
}
@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

/*Custom scrollbars*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}